@import "tailwindcss";

:root {
  --page-bg: #020617;
  --page-fg: #ededed;
  --card-bg: #1E293B;
  --card-border: #334155;
  --card-fg: #90A1B9;
  --card-footer-fg: #62748E;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: var(--page-bg);
    --page-fg: var(--page-fg);
    --card-bg: var(--card-bg);
    --card-border: var(--card-border);
    --card-fg: var(--card-fg);
  }
} */

@utility theme-page-bg {
  background: var(--page-bg);
}

@utility theme-page-fg {
  color: var(--page-fg);
}

@utility theme-card-bg {
  background: var(--card-bg);
}

@utility theme-card-border {
  border-color: var(--card-border);
}

@utility theme-card-fg {
  color: var(--card-fg);
}

@utility theme-card-footer-fg {
  color: var(--card-footer-fg);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
