@import "tailwindcss";

:root {
  --page-bg: #020617;
  --page-fg: #ededed;

  --container-bg:#0A1628;
  --container-fg: #475569;
  --container-br: #3b82f614;

  --container-input-ph: #47556966;

  --container-nav-bg-hover: #3B82f614;
  --container-nav-fg-hover: #3b82f659;

  --container-nav-bg-active: #3b82f659; /* #3B82f6 */
  --container-nav-fg-active: #94A3B8;

  --container-sub-nav-bg-hover: #3B82f614;
  --container-sub-nav-fg-hover: #94A3B8;
  --container-sub-nav-br-hover: #3B82F633;

  --container-sub-nav-bg-active: #3b82f61f;
  --container-sub-nav-fg-active: #3b82f659; /* #60A5FA */
  --container-sub-nav-br-active: #3b82f659;
}

@theme inline {
  --text-2xs: 10px;
  --text-13: 13px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

@utility t-page {
  @apply bg-(--page-bg) text-(--page-fg);
}

/* Header */
@utility t-header {
  @apply bg-(--container-bg) border-b border-(--container-br);
}

/* Nav container */
@utility t-container-nav {
  @apply bg-(--container-bg) text-(--container-fg) border-r border-(--container-br);
}

@utility t-container-nav-hover {
  @apply bg-(--container-nav-bg-hover) text-(--container-nav-fg-hover);
}

@utility t-container-nav-active {
  @apply bg-(--container-nav-bg-active) text-(--container-nav-fg-active);
}

/* Sub Nav Container */
@utility t-container-sub-nav {
  @apply bg-(--container-bg) text-(--container-fg) border-r border-(--container-br);
}

@utility t-container-sub-nav-hover {
  @apply bg-(--container-sub-nav-bg-hover) text-(--container-sub-nav-fg-hover) border-(--container-sub-nav-br-hover);
}

@utility t-container-sub-nav-active {
  @apply bg-(--container-sub-nav-bg-active) text-(--container-sub-nav-fg-active) border-(--container-sub-nav-br-active);
}

/* Card */
@utility t-card {
  @apply bg-(--container-bg) text-(--container-fg) border border-(--container-br) p-7 sm:p-3 md:p-5 rounded-xl;
}

@utility t-max-h-screen-header {
  max-height: calc(100vh - 72px);
}

/* Scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--container-sub-nav-bg-hover) var(--container-bg);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
